<h1>How to get started?</h1>
<h3> <b> steps to go </b></h3>
<ul>
<li> sign up if you are a new user </li>
<li> login </li>
<li> follow your favorite people and post what u feel everyday </li>
<li> <b> remember to have fun ! </b> </lin>
</ul>

