<li>
            <%= gravatar_for user %> 
            <%= link_to user.name, user %>
            <% if current_user.admin? && !current_user?(user) %>
                <a href="/escape">delete</a>
            <% end %>
 
 
  </li> 
