
<form action="/microposts" accept-charset="UTF-8" method="post"><input type="hidden" name="authenticity_token" value="FjLzLyLJB1YW3lZrUQVsBuRd7gi1RUOvuJsHDB3BpGIs8_KFvQqGN2oLurShbYwmBHvoo6UyQuyPfFH742D6lA" autocomplete="off">
      
<div class="field">
<textarea placeholder="wassup" name="micropost[content]" id="micropost_content"></textarea> 
</div>
<input type="submit" name="commit" value="share it with your friends" class="btn btn-primary" data-disable-with="Post"> 
</form>